

<!-- Find me in app/views/teachers/show.html.erb -->

  <h1><%= @teacher.first_name %>&nbsp;<%= @teacher.last_name %></h1>
  <center>
    Room:&nbsp;<%= @teacher.room %><br>
    <%= @teacher.comments %>
  </center>

<table cellspacing="10" cellpadding="50">
  <tr>
    <td>
      <h2>Existing Needs</h2>
      <table border = 1>
        <tr>
          <th>Status</th>
          <th>Description</th>
          <th>Comments</th>
          <th>Creation Date</th>
          <th>Last Updated</th>
          <th>Mark It...</th>
        </tr>

        <% @teacher.teacher_needs.each do |need| %>
            <% if need.status != "Closed" %>
              <tr>
                <td><%= need.status %></td>
                <td><%= need.description %></td>
                <td><%= need.comments %></td>
                <td><%= show_date need.created_at %></td>
                <td><%= show_date need.updated_at %></td>
                <td>
                  <% if need.status == "Filled" %>
                      <%= link_to('Active', reactivate_teacher_need_path(need), method: 'patch') %>
                      &nbsp;&nbsp;
                  <% end %>
                  <%= link_to('Closed', close_teacher_need_path(need), method: 'patch') %>
                </td>
                <td>&nbsp;&nbsp;
                  <%= link_to('Edit', edit_teacher_teacher_need_path(@teacher,need)) %>
                </td>
              </tr>
            <% end %>
        <% end %>
      </table>
    </td>
    <td>
      <h2>What do You Need?</h2>

      <!-- Note that this form will be routed to TeacherNeedsController::create() -->
      <%= form_for([@teacher, @teacher.teacher_needs.build]) do |f| %>
          <p>
            <%= f.label :description %><br>
            <%= f.text_field :description %>
          </p>
          <p>
            <%= f.label :comments %><br>
            <%= f.text_area :comments %>
          </p>
          <p>
            <%= f.submit %>
          </p>
      <% end %>

    </td>
  </tr>
  <!-- for placement of the links and notes, putting this into a second row, first column -->
  <tr>
    <td>
      <%= link_to 'Home Page', root_path %><br>
      <%= link_to 'Teachers List', teachers_path %><br>
      <%= link_to 'All Teacher Needs List', teacher_needs_path %>

      <h3>
      <p>Teachers, please note that it may take up to three school days to fill your request for routine items.
         <br>Other types of items may take longer.
      </p>
      </h3>
    </td>
  </tr>
</table>
