<!--
<h1>TeacherNeeds#index</h1>
<p>Find me in app/views/teacher_needs/index.html.erb</p>
-->
<h1> All Teacher Needs Page </h1>
<br>
<br>

<% $debugging.each do |line| %>
    <%= line %><br>
<% end %>

<%= form_tag({prefix: "teacher_teacher_needs", controller: "teacher_needs", action: "update_checked"}, method: "patch") do %>
    <table class="center" border = 1>
      <caption>All Unfilled Needs</caption>
      <tr>
        <th>Delivered?</th>
        <th>Teacher</th>
        <th>Teacher Room</th>
        <th>Description</th>
        <th>Comments</th>
        <th>Creation Date</th>
        <th>Last Updated</th>
        <th>Status</th>
      </tr>
      <% @teacher_needs.each do |need| %>
          <% if need.status == 'Active' %>
            <tr>
              <td><%= check_box_tag(need.id) %></td>
              <td><%= need.teacher.last_name %>,&nbsp;<%= need.teacher.first_name %></td>
              <td><%= need.teacher.room %></td>
              <td><%= need.description %></td>
              <td><%= need.comments %></td>
              <td><%= show_date need.created_at %></td>
              <td><%= show_date need.updated_at %></td>
              <td><%= need.status %></td>
            </tr>
          <% end %>
      <% end %>
    </table>
    <br>
    <%= submit_tag %>
<% end %>

<br>
<br><%= link_to("List of Teachers", teachers_path) %>
<br><p><%= link_to 'Home Page', root_path %></p>

<br><br><h2>HINTS AND TIPS</h2>
<ul>
  <li>To print this page out, hold down the Ctrl key and press 'P', or select Print from your browser.</li>

</ul>